<div class="sidebar-menu">
  <ul>
    <%= render 'layouts/sidebar/components/sidebarmenu_products' %>
    <%= render 'layouts/sidebar/components/sidebarmenu_clients' %>
    <!-- <li class="header-menu">
      <span>Dodatki</span>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-calendar"></i>
        <span>Kalendarz</span>
      </a>
    </li> -->
    <%# <%= render 'layouts/sidebar/components/sidebarmenu_settings' %>
  </ul>
</div>
