<li class="header-menu">
  <span>Ustawienia</span>
</li>
<li class="sidebar-dropdown">
  <a href="#">
    <i class="fa fa-exclamation"></i>
    <span>Alerty</span>
  </a>
  <div class="sidebar-submenu">
    <ul>
      <li>
        <%= link_to 'Towary', '#' %>
      </li>
      <li>
        <%= link_to 'Klienci', '#' %>
      </li>
    </ul>
  </div>
</li>
<li class="sidebar-dropdown">
  <a href="#">
    <i class="fa fa-users-cog"></i>
    <span>Pracownicy</span>
  </a>
  <div class="sidebar-submenu">
    <ul>
      <li>
        <%= link_to 'Zarządzaj', '#' %>
      </li>
    </ul>
  </div>
</li>
