<li class="header-menu">
  <span>Klienci</span>
</li>
<li class="sidebar-dropdown">
  <a href="#">
    <i class="fa fa-users"></i>
    <span>Klienci</span>
  </a>
  <div class="sidebar-submenu">
    <ul>
      <li>
        <%= link_to clients_path do %>
          Wszyscy klienci
        <% end %>
      </li>
      <li>
        <%= link_to 'Dodaj klienta', new_client_path %>
      </li>
    </ul>
  </div>
</li>
