<div class="col-md-12 client-show-params-params">
  <div class="col-md-12 client-show-params-params-title" >
    <%= name %>
  </div>
  <div class="col-md-12 client-show-params-params-value" >
    <% if client_details == nil %>
      
    <% else %>
      <%= client_details %>
    <% end %>
  </div>
</div>
