<div class="col-md-12 product-show-params-params">
  <div class="col-md-12 product-show-params-params-title" >
    <%= name %>
  </div>
  <div class="col-md-12 product-show-params-params-value" >
    <% if product_details == nil %>
      N/A
    <% else %>
      <%= product_details %>
    <% end %>
  </div>
</div>
