<div class="col-12 text-center">
  <h1>Brakujące produkty</h1>
</div>

<!-- table search fields for faster searching purposes -->
<%= render 'products/partials/products_list_search', products_path: missing_products_path %>

<!-- table titles for easier viewing purposes -->
<%= render 'products/partials/products_list_title' %>

<%= render 'products/partials/missing_products_list' %>
