<div class="row products-list-sections products-title">
  <div class="col products-checkboxes"></div>
  <div class="col products-images">Zdjęcie</div>
  <div class="col products-names">Nazwa</div>
  <div class="col products-descs">Opis</div>
  <div class="col products-qty">Ilość</div>
  <div class="col products-actions">Akcje</div>
</div>
