<p id="notice"><%= notice %></p>

<div class="client-show">
  <%= render 'clients/show_partials/header', mode_type: 'show' %>

  <div class="footer">
    <%= link_to 'Powrót', clients_path, class:"btn btn-success" %>
    <span style="float:right;"><%= link_to 'Edytuj', edit_client_path(@client), class:"btn btn-info" %></span>
  </div>
</div>
