<p id="notice"><%= notice %></p>
<div class="client-show">
  <%= render 'clients/partials/clients_all', title: "Wybierz klienta i kliknij koszyk"%>

  <div class="footer">
    <%= link_to 'Powrót do zamówień', orders_path, class:"btn btn-success" %>
  </div>
</div>
