<p id="notice"><%= notice %></p>

<!-- import modal section -->
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<!-- end of import modal section -->

<%= render 'products/partials/products_all' %>
