<div class="row clients-list-sections clients-title">
  <div class="col clients-checkboxes"></div>
  <div class="col clients-number">Numer klienta</div>
  <div class="col clients-names">Imię, nazwisko</div>
  <div class="col clients-address">Adres</div>
  <div class="col clients-contact-details">Telefon</div>
  <div class="col clients-company-name">Nazwa salonu</div>
  <div class="col clients-contact-details">NIP</div>
  <div class="col clients-actions">Akcje</div>
</div>
