<div class="col-12 text-right clients-icons-style">
  <%= link_to '', new_client_path, class: "fa fa-plus-circle", title: "Dodaj klienta" %>
  <%= link_to '', clients_url, class: "fa fa-times-circle", title: "Wyczyść filtry" %>
</div>
