<header class="basic-background">
  <div class="basic-background sticky-top">
    <%= render 'layouts/login' %>
  </div>
  <div>
    <%= render 'layouts/nav' %>
  </div>
  <div id="menu-header-toggle-button">
    <span id="angle-switch" class="fa fa-angle-double-left"></span>
  </div>
</header>
